absl-py==0.13.0
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
ascii-graph==1.5.1
asgiref==3.4.1
async-generator==1.10
attrs==21.2.0
audioread==2.1.9
Babel==2.9.1
# backcall
# backports.functools-lru-cache
# beautifulsoup4
bleach==3.3.1
# blis
boto3==1.18.5
botocore==1.21.5
brotlipy==0.7.0
cachetools==4.2.2
# catalogue
certifi==2021.5.30
# cffi
# chardet
# charset-normalizer
click==7.1.2
# codecov==2.1.11
colorama
# conda==4.10.3
# conda-build==3.21.4
# conda-package-handling
coverage==5.5
cryptography
cycler==0.10.0
cymem
Cython==0.28.4
DataProperty==0.52.0
debugpy==1.4.0
decorator
defusedxml==0.7.1
Django==3.2.5
# DLLogger
docutils==0.16
entrypoints==0.3
filelock
flake8==3.7.9
Flask==2.0.1
flatbuffers==2.0
fsspec==2024.2.0
future==0.18.2
glob2==0.7
google-auth==1.33.1
google-auth-oauthlib==0.4.4
graphsurgeon
grpcio==1.39.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.3.0
html2text==2020.1.16
httptools==0.2.0
huggingface-hub==0.26.2
hypothesis==4.50.8
# idna file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
imageio==2.9.0
imagesize==1.2.0
inflect==5.3.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.0.3
# ipython file:///home/conda/feedstock_root/build_artifacts/ipython_1625027225561/work
ipython-genutils==0.2.0
itsdangerous==2.0.1
# jedi file:///home/conda/feedstock_root/build_artifacts/jedi_1610146791023/work
# Jinja2 file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-tensorboard
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.11.4
kiwisolver==1.3.1
libarchive-c
librosa==0.8.0
llvmlite==0.35.0
lmdb==1.2.1
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe
# maskrcnn-benchmark
matplotlib==3.4.2
matplotlib-inline
mbstrdecoder==1.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==0.8.4
mlperf-compliance==0.0.10
mock
mpmath==1.3.0
msgfy==0.1.0
murmurhash
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
nltk==3.6.2
notebook==6.2.0
numba
numpy
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-dali-cuda110==1.3.0
nvidia-dlprof-pytorch-nvtx
nvidia-dlprofviewer
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.1.1
onnx
onnxruntime==1.8.1
packaging
pandas==1.1.4
pandocfilters==1.4.3
parso
pathvalidate==2.4.1
pathy
pexpect
pickleshare
Pillow
pkginfo
pluggy==0.13.1
polygraphy==0.31.1
pooch==1.4.0
preshed
prettytable==2.1.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit
protobuf==3.17.3
psutil
ptyprocess
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.0
pycocotools
pycodestyle==2.5.0
pycosat
pycparser
pycuda==2020.1
pydantic
pydot==1.4.2
pyflakes==2.1.1
Pygments
pynvml==8.0.4
pyOpenSSL
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks
pytablewriter==0.47.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==0.18.0
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytools==2021.2.7
pytorch-quantization==2.1.0
pytorch-transformers==1.1.0
pytz
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.7.6
requests
requests-oauthlib==1.3.0
resampy==0.2.2
revtok
rsa==4.7.2
# ruamel-yaml-conda
s3transfer==0.5.0
sacrebleu==1.2.10
sacremoses==0.0.35
safetensors==0.4.5
scikit-image==0.15.0
scikit-learn==0.24.2
scipy
Send2Trash==1.7.1
sentence-transformers==3.2.1
sentencepiece==0.1.96
shellingham
six
smart-open
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve
sox==1.4.1
spacy
spacy-legacy
Sphinx==4.1.1
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly
subword-nmt
sympy==1.13.1
tabledata==1.2.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorrt
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
thinc
threadpoolctl==2.2.0
tokenizers==0.20.1
toml==0.10.2
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tornado==6.1
tqdm==4.53.0
traitlets
transformers==4.46.1
triton==3.0.0
typepy==1.2.0
typer
typing-extensions==4.9.0
uff
Unidecode==1.2.0
urllib3
uvicorn==0.14.0
uvloop==0.15.3
wasabi
watchgod==0.7
wcwidth
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.3.0
wrapt==1.10.11
yacs==0.1.8
